body, html {
	padding: 0;
	margin: 0;
	font-family: 'Jaldi', sans-serif;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
}

.tooltip {
	word-break: break-all;
	word-wrap: break-word;
	white-space: normal;
	line-height: 20px;
	background-color: #333333 !important;
	z-index: 100000;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}